/* CSS Document */

/*��Ʒչʾҳ��*/
#fentop{ width:100%; height:103px; background:#e0e0e0;}
#product{ width:100%; background:#e0e0e0;  padding-top:30px;padding-bottom: 90px;}
#pro{ width:1000px; margin:0px auto;background:#FFFFFF; }
#pro .pro_left{ width:175px; float:left; border-right:1px solid #E7E7E7;height:907px; }
#pro .pro_left .pro_left_bt{ width:175px; height:55px; line-height:55px; border-bottom:2px solid #E7E7E7; font-size:18px; color:#5f5f5f; text-align:center;}
#pro .pro_left .pro_left_bt span{ font-size:14px;}
#pro .pro_left ul.pro_left_nav { margin-top:15px;}
#pro .pro_left ul.pro_left_nav li a{ width:175px; height:40px; line-height:40px; font-size:16px; color:#5f5f5f; text-align:center; display:block; border-bottom:1px solid #E7E7E7;}  
#pro .pro_left ul.pro_left_nav li a:hover{ background:#fb5750; color:#FFFFFF;}
#pro .pro_left ul.pro_left_nav li.hover a{background:#fb5750; color:#FFFFFF;}

#pro .pro_right{ width:823px;  height:907px; float:left;}
#pro .pro_right .pro_right_weizhi{ width:784px; height:55px;  line-height:55px; border-bottom:2px solid #E7E7E7; font-size:14px; color:#5f5f5f; margin-left:40px; }
#pro .pro_right .pro_right_weizhi span{ margin:0px 8px;}  
#pro .pro_right .pro_right_list{ margin-left:18px; margin-top:30px;}
#pro .pro_right .pro_right_list ul li{ width:214px; float:left; margin:0px 22px; margin-bottom:35px;}
#pro .pro_right .pro_right_list ul li .listimg{ width:214px; height:160px; overflow:hidden; position:relative;}
#pro .pro_right .pro_right_list ul li .listimg img{-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;transition: opacity 0.35s, transform 0.35s;-webkit-transform: scale(1.12);transform: scale(1.12);}

#pro .pro_right .pro_right_list ul li .listimg:hover img{opacity: 1;-webkit-transform: scale(1);transform: scale(1);} 
#pro .pro_right .pro_right_list ul li p{ width:214px; height:32px; line-height:32px; text-align:center; }
#pro .pro_right .pro_right_list ul li p a{font-size:14px; color:#5f5f5f;}
#pro .pro_right .pro_right_list ul li p a:hover{ color:#ff6600;}

/*��ҳЧ��*/
.pro_right_fenye{ width:320px; margin:0px auto;clear: both}
.pro_right_fenye ul li a{ width:34px; height:34px; background:#e0e0e0; display:block; float:left;text-align:center; font-size:14px; color:#585858; line-height:34px;  margin:0px 5px; margin-top:30px;}
.pro_right_fenye ul li a:hover{ background:#fb5750; color:#FFFFFF;}
.pro_right_fenye ul li.hover a{ background:#fb5750; color:#FFFFFF;}  


/*���Զ���ҳ��*/
#pro .dz_xiazai{ width:256px; float:left; margin-top:167px;margin-left:60px; margin-right:40px;}
#pro .dz_xiazai p.style1{ font-size:33px; color:#3C3C3C;}
#pro .dz_xiazai p.style2{ font-size:23px; color:#7D7D7D;} 
#pro .dz_xiazai p.style2 span{ margin-right:10px;}
#pro .dz_xiazai a.style3{ width:157px; height:60px; line-height:60px; text-align:center; color:#FFFFFF; background:#fb5650; font-size:23px; display:block; border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px; -moz-border-radius:10px; margin-top:25px;} 
#pro .dz_xiazai a.style3:hover{ background:#C9151E;}
#pro .dz_img{ width:533px; float:left; margin-top:71px;} 
#pro .dz_img2{ width:777px;margin:0px auto; margin-top:77px; padding-bottom:90px;} 


/*��������ҳ��*/
.aboutus{ font-size:14px; color:#969595; padding-left:20px; padding-right:10px;}
.aboutus p span{ text-indent:20px; display:block; }
.aboutus img{ float:right; clear:right; margin:0px 15px 10px 30px;}


.about_qt{ padding-left:20px; width:980px; margin:0px auto;}
.about_qt a{ width:289px; height:289px; line-height:289px; text-align:center; float:left; display:block; margin:0px 15px;position: relative;outline: medium none; border-radius:150px; -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
	opacity:0.9;
	box-shadow: 0px 0px 3px rgba(251,43,35,0.8),0px 0px 0px 150px rgba(251,43,35,0.8) inset;
    -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	font-size:30px;
	color:#FFFFFF;
	margin-top:30px;
	 	
}
	
.about_qt a:hover{
  opacity: 1.0;
    box-shadow: 
        0px 0px 3px rgba(251,43,35,0.8),
        0px 0px 0px 0px rgba(251,43,35,0.8) inset;
}


/*������ҵҳ��*/
.hezuo{ width:810px; margin:0px auto;}
.hezuo p{ font-size:30px; color:#575757; width:810px; text-align:center; padding:32px 0px 60px 0px;}	
.hezuo ul.hz_list li{ width:162px; float:left; margin-bottom:30px;}


/*��ϵ����ҳ��*/
.lianxi_weizhi{ font-size:14px; color:#5f5f5f; padding:15px 0px 15px 22px;}
.lianxi_img{ width:500px; float:left; margin:0px 60px 20px 22px;}
.lianxi_nr{ width:375px; float:left;}
.lianxi_nr .lianxi_nr_logo{ width:375px; height:100px; border:1px solid #EEEEEE; text-align:center; padding-top:65px; margin-bottom:15px;}
.lianxi_nr .lianxi_nr_js{ width:335px; height:154px; border:1px solid #EEEEEE; box-shadow:0px 1px 2px #cccccc;font-size:14px; color:#5f5f5f; line-height:25px; padding-left:40px; padding-top:16px;}
.lianxi_nr .lianxi_nr_js p.te{ margin-bottom:10px;} 

.lianxi_huanjing{ width:950px; height:297px; border:1px solid #C9C7C7; box-shadow:0px 1px 2px #cccccc; margin-left:20px;}
.lianxi_huanjing .lianxi_hj_neibu{ width:630px; float:left;} 
.lianxi_huanjing .lianxi_hj_neibu p{ width:630px; text-align:center; line-height:60px; font-size:18px;  color:#5a5a5a;}
.lianxi_huanjing .lianxi_hj_neibu ul li{ width:166px; float:left; margin:0px 20px;} 

.lianxi_hj_weizhi{width:260px; float:right; text-align:center; margin-right:30px;}
.lianxi_hj_weizhi p{ font-size:18px;  color:#5a5a5a; line-height:60px;}

/*��ϵ���ǵ�ͼ����*/
.cover{ width:100%; height:100%; background:rgba(0,0,0,0.7); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000);/*͸������ie8����֧��*/ position:fixed; left:0px; top:0px; z-index:3; display:none;}
.cover .tcmap{ width:697px; height:450px; margin:0px auto; position:fixed; left:50%; top:50%; z-index:4; margin-left:-350px; margin-top:-200px;}
.cover .tcmap p{ width:697px; height:20px; line-height:20px; font-size:18px; color:#CCCCCC; text-align:right; cursor:pointer;}
.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
.iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}



/*��Ʒҳ���¼�*/
.bd_con4 { margin: 0px auto; width: 940px; position:relative; padding-top:97px;padding-bottom: 30px;  }
.bd_t3 { font: 18px/45px "΢���ź�"; color: #FFF; padding: 0px 14px 14px; height: 45px; position: absolute; left: -1px; top: -1px; background: url(../images/bd_bg1.jpg) no-repeat; width: 610px; z-index: 100; }
.bd_c4l { background: #F9F1E6; float: left; height: 344px; width: 552px; padding-top: 64px; padding-left: 25px; position: absolute; }
.bd_c4l ul li { font: 18px/107px "΢���ź�"; color: #FFF; text-align: center; height: 107px; width: 130px; cursor: pointer; background: #707070; margin: 0px 3px 3px 0px; float: left; }
.bd_c4l ul .bd_cutLi { background: #6B0904; }
.bd_c4r {width: 940px; margin:0px auto; }
.bd_c4top { height: 531px;}
.bd_lbtn { padding: 0px 0px 0px 5px; float: left; width: 61px; background: url(../images/bd_lbtn.png) no-repeat; display: block; height: 113px; margin-top: 145px; }
.bd_rbtn { float: right; width: 61px; padding-top: 0px; padding-right: 9px; display: block; height: 113px; margin-top: 145px; background: url(../images/bd_rbtn.png) no-repeat; }
.bd_lbtn:hover { background: url(../images/hbd_lbtn.png) no-repeat; cursor:pointer }
.bd_rbtn:hover { background: url(../images/hbd_rbtn.png) no-repeat;  cursor:pointer }
.bd_chgBox { float: left; height: 531px; width: 709px; overflow:hidden; position:relative;margin-left: 40px;}
.bd_long { width:2000%; position: absolute; left: 0px; top: 0px; height:531px; }
.bd_long ul li { height: 531px; width:709px; float: left; font-family: "΢���ź�";text-align: center }
.bc_chgTitle { height: 54px; text-align: center; width: 268px; padding-top: 9px; font: bold 16px/54px "΢���ź�"; }
.bd_lbtn img,.bd_rbtn img{cursor:pointer}
.bd_long ul li p { font-size: 14px; line-height: 22px; padding-top: 12px; }

.pro_name{ width:920px; margin:0px auto; text-align:left; font-size:15px; color:#181818; padding-bottom:80px;}



/*��Ʒչʾ-����*/
.liucheng{ padding:40px 0px 0px 30px;}
.liucheng ul li{ width:235px; height:235px; float:left; margin:0px 40px 78px 40px;}
.liucheng ul li:hover{ transform:rotate(-360deg);-moz-transform:rotate(-360deg);-o-transform:rotate(-360deg);-webkit-transform:rotate(-360deg); transition: all 1s; -webkit-transition: all 1s; -o-transition: all 1s; -moz-transition: all 1s; }

	
		