/* CSS Document */
*{margin:0px;padding:0px;}
body{font-family:"microsoft yahei"; font-size:12px;}
ul li{ list-style-type:none;}
img{border:none;}
a{ text-decoration:none;}

/*最顶部logo和导航*/
#toper{width:100%; height:78px; border-bottom:5px solid #55BA64;}
#topcont{ width:1200px; height:78px; margin:0px auto; background:url(../images/top_bg.png) no-repeat 705px 0px;}
#topcont .topcont_logo{ padding-top:24px; padding-left:34px; float:left;} 
#topcont .topcont_nav{ margin-top:40px; margin-left:200px; float:left;}
#topcont .topcont_nav ul li{ float:left; padding:0px 20px 20px; 20px; position:relative; }
#topcont .topcont_nav ul li img{ vertical-align:middle; margin-left:5px;}
#topcont .topcont_nav ul li a{ color:#949494; font-size:12px;}
#topcont .topcont_nav ul li.style a{ color:#55BA64;}
#topcont .topcont_nav ul li.hover a:hover{ color:#55BA64;}
#topcont .topcont_nav ul li:hover img{ /* safari / chrome */
			-webkit-animation-name:rotater; 
			-webkit-animation-duration:500ms; 
			-webkit-animation-iteration-count:1; 
			-webkit-animation-timing-function: ease-out;
			
			/* mozilla */
			-moz-transform:rotate(180deg);
			-moz-transition-duration:500ms;
			-moz-transition-timing-function: ease-out;
			
			/* opera */
			-o-transform:rotate(180deg);
			-o-transition-duration:500ms;
			-p-transition-timing-function: ease-out;
			
			/* ie */
			-ms-transform:rotate(180deg);
			-ms-transform-duration:500ms;
			-ms-transform-timing-function: ease-out;}
#topcont .topcont_nav ul li .menu{ display:none; position:absolute; left:0px; top:38px; z-index:999999;}
#topcont .topcont_nav ul li .menu p a{ display:block; width:88px; height:37px; line-height:37px; background:#55BA64; color:#FFFFFF; text-align:center; }
#topcont .topcont_nav ul li .menu p a:hover{ background:#FFFFFF; color:#55BA64;} 

#topcont .topcont_dhlei{ float:right; padding-top:13px;}
#topcont .topcont_dhlei .lei {color:#949494; margin-left:70px;}
#topcont .topcont_dhlei .lei a{ color:#949494; display:inline-block; margin:0px 3px; } 
#topcont .topcont_dhlei .lei a:hover{ color:#55BA64;}
#topcont .topcont_dhlei .dh{ font-size:24px; height:27px; color:#55ba64; background:url(../images/dh_icon.png) no-repeat left 0px ; padding-left:36px; padding-top:10px;}



/*首页图片轮播*/
.container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container{ width: 1600px; margin: 0px auto;}
.container{*zoom:1;}.container:before,.container:after{display:table;content:"";line-height:0;}

/* ----- Slider ----- */
.slider {
    margin: 0 auto;
}

.flexslider {
    margin-top: 45px;
    margin-bottom: 55px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.flex-caption {
    position: absolute;
    bottom: 20px;
    max-width: 920px;
    padding: 10px 20px;
    margin: 0;
    background: #1d1d1d; /* browsers that don't support rgba */
    background: rgba(0, 0, 0, .7);
    font-size: 14px;
    line-height: 24px;
    color: #eaeaea;
    text-align: left;
    font-style: italic;
}

/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;width:100%;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides{}
.flexslider .slides img {max-width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0 0 0px; background: #fff; position: relative;zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 60px; height: 60px; margin: -20px 0 0; display: block; background: url(../images/slider-nav.png) no-repeat 0 0; position: absolute; top: 40%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 0px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 0px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav { position: absolute; bottom: 70px; text-align: center; left: 13%;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; overflow: hidden;}
.flex-control-thumbs li { float: left; margin: 10px; border:7px solid #FFFFFF;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}




/*广告样式*/
#Adv{width:100%;height:1009px;  position:relative;}
#Adv .ImgList{width:100%; height:1009px; position:absolute;/*绝对定位*/ left:0px; top:0px;
z-index:2;}

#Adv .ydbutton{ height:20px; position:absolute;left:0px; bottom:50px;z-index:3; display:inline-block;/*行内块级元素*/ width:100%; height:22px; background:url(../images/line.png) repeat-x 0px 10px;}
#Adv .ydbutton ul.button{ width:1220px; margin:0px auto;}
#Adv .ydbutton ul.button li{width:265px; height:22px; background:url(../images/index_y.png) no-repeat center center;  float:left;
					margin:0px 20px; list-style-type:none; }
#Adv .ydbutton ul.button li.hover{ background:url(../images/index_y2.png) no-repeat center center;;}

#Adv .xiaotu{ width:100%; position:absolute; left:0px; bottom:100px; z-index:9999;}
#Adv .xiaotu ul { width:1220px; margin:0px auto;}
#Adv .xiaotu ul li{ width:253px; height:144px; float:left; border:6px solid #FFFFFF; margin:0px 20px; list-style-type:none; opacity:0.7; filter:alpha(opacity=70);-moz-opacity:0.7; -o-opacity:0.7; background:#000000;} 
#Adv .xiaotu ul li.hover{opacity:1;}


#Adv .leftbutton{ position:absolute; left:0px; top:40%; z-index:9999; width:48px; height:50px;}
#Adv .rightbutton{ position:absolute; right:0px; top:40%; z-index:9999; width:48px; height:50px;}
#Adv .rightbutton .btimg,#Adv .leftbutton .btimg{ cursor:pointer;} 


/*最底部*/
#footer{ width:100%; height:100px; background:#f1f3ec; border-top:3px solid #55BA64; text-align:center;color:#949494;}
#footer p.footer_list a{  color:#949494; display:inline-block; margin:0px 10px; line-height:55px;}
#footer p.footer_list a:hover{ color:#55BA64;}